.blog-post {
  margin-top: 64px;
  padding: 0 64px;
  padding-bottom: 64px;
}


.header-break {
  margin: 64px 0;
}

.title {
  text-align: center;
  margin-bottom: 48px;
}


.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 200%;
  color: #a1a1a1;
  width: 80%;
  margin: auto;
  margin-bottom: 64px;
}


.date {
  font-size: 1rem;
  text-align: end;
  color: #a1a1a1;
}



.content {
  font-size: 1.1rem;
  line-height: 300%;
  color: #c0c0c0;
}



@media screen and (max-width: 750px) {
  .blog-post {
    padding: 0;
  }
}
