html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  padding: 100px;
  padding-top: 0;
  overflow-x: hidden;
  background-color: #1E1E1E !important;
  color: #D4D4D4;
}

@media screen and (max-width: 500px) {
  body {
    padding: 7vw;
    padding-top: 0;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }




// media queries

@media screen and (max-width: 768px) {

  body {
    padding: inherit 50px;
  }
  
}


#top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 80vh;
}
