.section-title {
    font-size: 15px;
    color: #848484;
    margin: 0;
    font-weight: 600;
}

.underline {
    border-bottom: 2px solid #343434;
    margin-top: 2px;
    margin-bottom: 20px;
}


.tech-stack {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}