#header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    box-sizing: unset;
}


#main-nav {
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    align-items: center;
    flex: 1;
    overflow-x: scroll;
}

#main-nav::-webkit-scrollbar {
    display: none;
}


.nav-item {
    margin: 0;
    font-size: 20px;
    // https://stackoverflow.com/a/44696955/17712310
    white-space: nowrap;
    transition: filter 150ms ease-out, text-shadow 150ms ease-out;
}


.nav-item:hover {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness
    filter: brightness(1.5);
}


.blog-text-gradient {
    // https://cssgradient.io/blog/css-gradient-text/
    // https://webkit.org/blog/1424/css3-gradients/
    background: -webkit-linear-gradient(left, #6499B7, rgba(167, 98, 255, .33));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-text-gradient {
    background: -webkit-linear-gradient(left, #4BFF47, rgba(42, 164, 233, .62));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#avatar-image {
    margin-left: auto;
    height: 35px;
    border-radius: 50%;
    width: auto;
}



// section 1

#section-1-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: top;
    column-gap: 50px;
}

#about-me-short-desc {
    font-size: 20px;
    margin: 0;
    transition: opacity 100ms ease-in;
}

#social-quick-links {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-top: 10px;
}

.social-quick-link {
    font-size: 35px;
    transition: filter 100ms linear;
}

.social-quick-link:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#linked-in-social-quick-link {
    color: #0A66C2;
}

#github-social-quick-link {
    color: #a4a4a4;
}

#youtube-social-quick-link {
    color: #981C42;
}




// media queries
// https://polypane.app/blog/the-breakpoints-we-tested-in-2021-and-the-ones-to-test-in-2022/ - breakpoints

// https://css-tricks.com/a-complete-guide-to-css-media-queries/
@media screen and (max-width: 768px) {
    // tablet

    #section-1-wrapper {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    #social-quick-links {
        justify-content: center;
        margin-top: 0;
    }

    #about-me-short-desc {
        text-align: center;
        font-size: 30px;
    }

}



@media screen and (max-width: 550px) {

    #main-nav {
        column-gap: 30px;
    }

}




// animations

.desc-out-view {
    opacity: 0;
}

.desc-in-view {
    opacity: 1;
}