#header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    box-sizing: unset;
}


#main-nav {
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 75px;
    align-items: center;
    flex: 1;
    overflow-x: scroll;
}

#main-nav::-webkit-scrollbar {
    display: none;
}


.nav-item {
    margin: 0;
    font-size: 20px;
    // https://stackoverflow.com/a/44696955/17712310
    white-space: nowrap;
    transition: filter 150ms ease-out, text-shadow 150ms ease-out;
}


.nav-item:hover {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness
    filter: brightness(1.2);
}


.blog-text-gradient {
    // https://cssgradient.io/blog/css-gradient-text/
    // https://webkit.org/blog/1424/css3-gradients/
    background: -webkit-linear-gradient(left, #517cc0, #6bb0db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-text-gradient {
    background: -webkit-linear-gradient(left, #3bc285, #7de8b8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#avatar-wrapper {
    margin-left: auto;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    // https://stackoverflow.com/a/28526901/17712310
    overflow: hidden;
}

#avatar-image {
    // https://stackoverflow.com/a/30938958/17712310
    width: 110%;
}



// section 1

#section-1-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: top;
    column-gap: 50px;
}

#about-me-short-desc {
    font-size: 20px;
    margin: 0;
    transition: opacity 100ms ease-in;
}

#social-quick-links {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: space-between;
}

.social-quick-link {
    font-size: 35px;
    // https://thoughtbot.com/blog/transitions-and-transforms#css-syntax-example-for-translate
    transition: filter 100ms linear;
}

.social-quick-link:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.social-quick-link-icon {
    transition: transform 100ms linear;
}

.social-quick-link-icon:hover {
    transform: scale(1.05);
}



#section-2 {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
}


#featured-projects {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}


.featured-project-wrapper {
    width: 80%;
    transition: margin-right 200ms linear, margin-left 200ms linear;
}



#tech-stack {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}




// media queries
// https://polypane.app/blog/the-breakpoints-we-tested-in-2021-and-the-ones-to-test-in-2022/ - breakpoints

// https://css-tricks.com/a-complete-guide-to-css-media-queries/
@media screen and (max-width: 768px) {
    // tablet

    #section-1-wrapper {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    #social-quick-links {
        justify-content: center;
        margin-top: 0;
    }

    #about-me-short-desc {
        text-align: center;
        font-size: 30px;
    }

}



@media screen and (max-width: 550px) {

    #main-nav {
        column-gap: 30px;
    }

}




// animations

.desc-out-view {
    opacity: 0;
}

.desc-in-view {
    opacity: 1;
}




.social-quick-link {
    // https://thoughtbot.com/blog/transitions-and-transforms#css-syntax-example-for-translate
    // https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateX
    transform: translateX(500px);
}

.social-quick-link-in-view {
    animation-timing-function: ease-out;
    animation: social-quick-link-slide 200ms forwards;
}


@keyframes social-quick-link-slide {

    100% {
        transform: translateX(0px);
    }
    
}



.tech-stack-section-title {
    transition: transform 200ms ease-out;
}

.tech-stack-section-title-in-view {
    transform: translateX(0);
}

.tech-stack-section-title-out-view {
    transform: translateX(-500px);
}


.tech-stack-item {
    transform: translateX(-500px);
}

.tech-stack-item-in-view {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
    // https://stackoverflow.com/a/12991203/17712310
    animation: slide-tech-item 500ms forwards;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function
    animation-timing-function: ease-out;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
@keyframes slide-tech-item {

    100% {
        transform: translateX(0px);
    }
}


.project-card {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #1E1E1E;
    padding: 8px 20px 5px 20px;
    border-radius: 4px;
    opacity: 0;
}

.project-in-view {
    animation: project-card-show 500ms forwards;
    animation-timing-function: ease-out;
}


@keyframes project-card-show {
    
    100% {
        opacity: 1;
    }

}


#top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 80vh;
}